{{ $src := .Get "src" }}
{{ $img := .Page.Resources.GetMatch $src }}

{{ if $img }}
  {{ $tiny := $img.Resize "480x webp" }}
  {{ $medium := $img.Resize "800x webp" }}
  {{ $large := $img.Resize "1200x webp" }}
  <figure class="{{ .Get "class" }}">
    <img 
      src="{{ $medium.RelPermalink }}" 
      srcset="{{ $tiny.RelPermalink }} 480w, {{ $medium.RelPermalink }} 800w, {{ $large.RelPermalink }} 1200w"
      sizes="(max-width: 768px) 100vw, 720px"
      loading="lazy" 
      alt="{{ .Get "alt" }}"
      data-zoom-src="{{ $img.RelPermalink }}"
      {{ if in (.Get "class") "img-3-2" }}data-aspect="3-2"{{ end }}
      {{ if in (.Get "class") "img-grid" }}data-aspect="3-4"{{ end }}
    >
    {{ with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end }}
  </figure>
{{ else }}
  <img src="{{ $src | relURL }}" alt="{{ .Get "alt" }}" {{ if in (.Get "class") "img-3-2" }}data-aspect="3-2"{{ end }}>
{{ end }}